<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/style.css">
  <title>Show message</title>
</head>
<body>
  <h2>追加したいデータを選択してください。</h2>
  <form action="/insertdata" name="insertform" method="post">
    路線名:<select name="newline" id="newline">
      <option value="0">選択してください</option>
      <% for( let row of data ) { %>
        <% if(row.lname == null) break; %>
        <option value="<%= row.lname %>" name="newline"><%= row.lname %></option>
      <% } %>
      </select><br>
    駅名:<select id="newstation" name="newstation" disabled>
      <option value="0">選択してください</option>
        <% for( let row of data ) { %>
        <% if(row.sname == null) break; %>
        <option value="<%= row.sname %>" name="newstation"><%= row.sname %></option>
      <% } %>
    </select><br>
     ゲームセンター名:<select id="gamecentername" name="newgamecenter" disabled>
      <option value="0">選択してください</option>
        <% for( let row of data ) { %>
        <% if(row.gname == null) break; %>
        <option value="<%= row.gname %>" name="newgamecenter"><%= row.gname %></option>
      <% } %>
      </select><br><br>
    <input type="submit" value="登録" id="button" disabled>
    <script>
      function inputchange(event){
        let button = document.getElementById('button');
        button.disabled = false;
      }

      let text = document.getElementById('gamecentername');
      text.addEventListener('change', inputchange);
      
      function inputchange2(event){
        let pull2 = document.getElementById('newstation');
        pull2.disabled = false;
      }

      let text2 = document.getElementById('newline');
      text2.addEventListener('change', inputchange2);
      
      function inputchange3(event){
        let pull3 = document.getElementById('gamecentername');
        pull3.disabled = false;
      }

      let text3 = document.getElementById('newstation');
      text3.addEventListener('change', inputchange3);
    </script>
  </form>
  <br>
  <form action="/default">
    <a href="/public/insert.html">該当するデータがないときはこちら</a>&emsp;
    <a href="/default">トップページに戻る</a>
  </form>
</body>
</html>