<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>情報一覧</h2>
  <form>
    <a href="/default">元に戻す</a>
  </form>
  <br>
  <table>
      <tr>
        <td>登録番号&emsp;</td>
        <td>路線名&emsp;</td>
        <td>駅名&emsp;</td>
        <td>ゲームセンター名</td>
      </tr>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.aid %></td>
            <td><%= row.name %>&emsp;</td>
            <td><%= row.name2 %>&emsp;</td>
            <td><a href="/public/<%= row.id %>"><%= row.name3 %></a></td>
        </tr>
      <% } %>
  </table>
</body>
</html>