<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/style.css">
  <title>Show message</title>
</head>
<body>
  <h2>情報一覧</h2>
  <form>
    <a href="/default">元に戻す</a>
  </form>
  <br>
  <table border="1">
      <tr>
        <td>登録番号&emsp;</td>
        <td>路線名&emsp;</td>
        <td>駅名&emsp;</td>
        <td>ゲームセンター名</td>
      </tr>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.linename %>&emsp;</td>
            <td><%= row.stationname %>&emsp;</td>
            <td><a href="<%= row.url %>"><%= row.gamecentername %></a></td>
        </tr>
      <% } %>
  </table>
</body>
</html>